.ifm_div iframe{
    height: 100vh;
}
.r_div span {
    font-size: 16px;
    display: inline-block;
    width: 100%;
    margin: 10px 0 0 0;
    line-height: 140%;
    padding: 0% 0 0% 0;
    text-align: left;
    position: relative;
    font-weight: bold;
}
.othr_inpt{
    width:50%;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .othr_inpt{
        width:100%;
    }
    .r_div p {
        font-size: 16px;
        display: inline-block;
        width: 100%;
        margin: 10px 0 0 0;
        line-height: 140%;
        padding: 2% 15px 5% 15px;
        text-align: left;
        position: relative;
        font-weight: bold;
    }
}